header {
    background-color: rgb(5, 18, 42);
    border-color: rgb(5, 19, 50);
    padding: 1.3% 4.3478260870%;
    border-radius: 4em;
    border-width: 0.175em;
    border-style: solid;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-size: 8px;
    margin: 2.0833333333%;
}

header > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    margin: 0%;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 0% 3%;
}

#Player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
}

#Computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name > * {
    margin: 0px 0.5em;
    font-size: 22px;
}

#Player > .name > * {
    color: rgb(16, 185, 129);
}

#Computer > .name > * {
    color: rgb(217, 119, 6);
}

footer {
    display: flex;
    justify-content: center;
    margin: 0.4rem;
}

footer > p > a {
    color: white;
    transition: 225ms ease-in-out;
}

footer > p > a:hover {
    color: rgb(129, 140, 248);
}

html, body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(6, 5, 34);
    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}